# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Android Gradle 캐시 관련
/android/.gradle/
/android/local.properties

# Build 결과물 상세 지정 (더블 체크용)
build/
build/**

# .idea 내부 변경되는 설정들
.idea/workspace.xml
.idea/libraries/

# APK 등 바이너리
*.apk
*.ap_
*.bin
*.probe

.vscode/  # VSCode 설정 무시하고 싶다면 이 줄도 주석 해제

# Android NDK & CMake 관련 중간 산출물 무시
android/app/.cxx/

# DevTools, extension 등
.dart_tool/extension_discovery/

# Generated plugin 파일
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.gradle/
android/local.properties
**/GeneratedPluginRegistrant.java